@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Strona główna</h2>
<h4>Witaj w aplikacji Gabinet Lekarski. Aby zapisać się na wizytę lekarską, musisz być zalogowany.</h4>
<br /> 
<h4>Posiadasz już konto? @Html.ActionLink("Zaloguj się!", "LogIn", "Account")</h4>
<h4>Nie posiadasz konta? @Html.ActionLink("Zarejestruj się!", "SignUp", "Account")</h4>