@{
    ViewBag.Title = "UnAuthorized";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Brak dostępu!</h2>
<p>Nie masz wystarczających uprawnień do otwarcia tej strony.</p>

<div>
    @Html.ActionLink("Powrót do strony głównej", "Welcome", "Home")
</div>  